*.jar
*~
*.pyc
*.pyd
*.so
*.dll
*.properties
*\#
build
dist
cellprofiler/cpmath/_cpmorphology2.c
cellprofiler/cpmath/_filter.c
cellprofiler/cpmath/_lapjv.c
cellprofiler/cpmath/_propagate.c
cellprofiler/cpmath/_watershed.c
cellprofiler/cpmath/_convex_hull.c
cellprofiler/cpmath/build
cellprofiler/utilities/build
cellprofiler/utilities/javabridge.c
contrib/LAP.c
cellprofiler/tests/test.db
cellprofiler/frozen_version.py
imagej/maven
imagej/jars
imagej/*.zip
killjavabridge.egg-info
output
windows
