*.egg-info/
*.iml
*.pyc
*.swp
.DS_Store
.eggs/
.cache/
*venv/
venv/
.idea/
.vscode/
settings.json
build/
dist/
pip-wheel-metadata/
.pytest_cache/
.python-version
frozen_version.py
.mypy_cache/
*.sqlite3
docs/frontend/source/help
docs/frontend/source/images
docs/core/build
docs/core/build
_version.py
result
scratch/

# pixi environments
.pixi
