*.egg-info/
*.iml
*.pyc
*.swp
*venv/
.DS_Store
.cache/
.eggs/
.idea/
.mypy_cache/
.pytest_cache/
.python-version
.vscode/
build/
dist/
docs/_build
docs/source/help
docs/source/images
frozen_version.py
pip-wheel-metadata/
plugins/
settings.json
venv/
