#addons:
#  apt:
#    packages:
#      - libgstreamer-plugins-base1.0-0
#      - libgstreamer-plugins-base1.0-dev
#      - libgstreamer1.0-0
#      - libgstreamer1.0-dev
#      - libgtk-3-0
#      - libgtk-3-dev
#      - libhdf5-serial-dev
#      - libjpeg-dev
#      - libnotify-dev
#      - libpng-dev
#      - libsdl2-dev
#      - libsm-dev
#      - libsm6
#      - libtiff5
#      - libtiff5-dev
#      - libwebkitgtk-3.0-dev
#      - python-dev
#      - python-mysqldb
#      - python-pip
before_install:
  - sudo apt-get install --yes libgstreamer-plugins-base1.0-0 libgstreamer-plugins-base1.0-dev libgstreamer1.0-0 libgstreamer1.0-dev libgtk-3-0 libgtk-3-dev libhdf5-serial-dev libjpeg-dev libnotify-dev libpng-dev libsdl2-dev libsm-dev libsm6 libtiff5 libtiff5-dev libwebkitgtk-3.0-dev python-dev python-mysqldb python-pip
#cache:
#  apt: true
#  directories: $HOME/.cache/pip
dist: trusty
env:
  - LC_ALL="en_US.UTF-8" CP_MYSQL_TEST_HOST="127.0.0.1" CP_MYSQL_TEST_USER="root" CP_MYSQL_TEST_PASSWORD="" REQUIREMENTS_FILE="pinned_requirements.txt"
  - LC_ALL="en_US.UTF-8" CP_MYSQL_TEST_HOST="127.0.0.1" CP_MYSQL_TEST_USER="root" CP_MYSQL_TEST_PASSWORD="" REQUIREMENTS_FILE="requirements.txt"
matrix:
  allow_failures:
    env:
      - LC_ALL="en_US.UTF-8" CP_MYSQL_TEST_HOST="127.0.0.1" CP_MYSQL_TEST_USER="root" CP_MYSQL_TEST_PASSWORD="" REQUIREMENTS_FILE="requirements.txt"
group: deprecated-2017Q2
install:
  - pip install -r $REQUIREMENTS_FILE
  - pip install --upgrade .[test]
  - pip freeze
language: python
notifications:
  email: false
  slack:
    secure: kDWVy90sDY+o3g0/ZTGX2D+PTbzhtd74Whe1AJHhcUDobTUzkch8GtY9eZxybZk4nga9lQxL6YeJ72SfBBEPaLzXcUMe0YcNaBydkQHcipKZn+Vcb8kf2FiZC6YwsUYfTvvH9MPLbkZOZvsNyd0h85z+hYMB8jHsq6Yn5gf79BA=
    on_failure: always
    on_success: change
python: 2.7.12
script: pytest
services: mysql
sudo: required
