addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - python-mysqldb
      - python-pip
cache:
  apt: true
  directories: $HOME/.cache/pip
dist: trusty
env:
  global:
    - LC_ALL="en_US.UTF-8" CP_MYSQL_TEST_HOST="127.0.0.1" CP_MYSQL_TEST_USER="root" CP_MYSQL_TEST_PASSWORD=""
  matrix:
    - REQUIREMENTS_FILE="pinned_requirements.txt"
    - REQUIREMENTS_FILE="requirements.txt"
matrix:
  allow_failures:
    - env: REQUIREMENTS_FILE="requirements.txt"
install:
  - pip install -r $REQUIREMENTS_FILE
  - pip install .[test]
  - pip freeze
language: python
notifications:
  email: false
  slack:
    secure: kDWVy90sDY+o3g0/ZTGX2D+PTbzhtd74Whe1AJHhcUDobTUzkch8GtY9eZxybZk4nga9lQxL6YeJ72SfBBEPaLzXcUMe0YcNaBydkQHcipKZn+Vcb8kf2FiZC6YwsUYfTvvH9MPLbkZOZvsNyd0h85z+hYMB8jHsq6Yn5gf79BA=
    on_failure: always
    on_success: change
python: 2.7.12
script: pytest
services: mysql
sudo: required
