addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - libzmq3-dev
      - python-imaging
      - python-lxml
      - python-matplotlib
      - python-mysqldb
      - python-numpy
      - python-pandas
      - python-scipy
      - python-tk
      - python-wxgtk2.8
cache:
  apt: true
  directories:
    - $HOME/.cache/pip
    - $TRAVIS_BUILD_DIR/imagej/jars
language: python
notifications:
  email: false
python:
  - 2.7
sudo: false
virtualenv:
  system_site_packages: true
install:
  - pip install --upgrade pip
  - pip install --upgrade wheel
  - pip install --upgrade cython
  - pip install -r requirements.txt
  - pip install --editable git+https://github.com/h5py/h5py.git#egg=h5py       --upgrade
  - pip install --editable git+https://github.com/CellH5/cellh5.git#egg=cellh5 --upgrade
  - python external_dependencies.py
  - python CellProfiler.py --build-and-exit
script:
  - python cpnose.py --with-javabridge --noguitests cellprofiler/matlab/tests  2>&1 | egrep -v "(^\[INFO\]|\[Thread-0\]|\[Thread-1\]|\[AWT\-AppKit\]|Exception\sKeyError|\s*self\.id\.close\(\)|.*\sRuntimeWarning\:\sFound\smurdered\sidentifier|Warning\:\sorg\.apache\.xerces\.parsers\.SAXParser\:)"
  - python cpnose.py --with-javabridge --noguitests cellprofiler/modules/tests 2>&1 | egrep -v "(^\[INFO\]|\[Thread-0\]|\[Thread-1\]|\[AWT\-AppKit\]|Exception\sKeyError|\s*self\.id\.close\(\)|.*\sRuntimeWarning\:\sFound\smurdered\sidentifier|Warning\:\sorg\.apache\.xerces\.parsers\.SAXParser\:)"
  - python cpnose.py --with-javabridge --noguitests cellprofiler/tests         2>&1 | egrep -v "(^\[INFO\]|\[Thread-0\]|\[Thread-1\]|\[AWT\-AppKit\]|Exception\sKeyError|\s*self\.id\.close\(\)|.*\sRuntimeWarning\:\sFound\smurdered\sidentifier|Warning\:\sorg\.apache\.xerces\.parsers\.SAXParser\:)"
