[Desktop Entry]
Type=Application
Name=CellProfiler
Comment=An open-source application for biological image analysis
Icon=org.cellprofiler.CellProfiler
Exec=cellprofiler
Categories=Science;Biology
