*$py.class
*.cover
*.dmg
*.egg
*.egg-info/
*.gem
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.rbc
*.sage.py
*.so
*.spec
*.swp
.cache
.coverage
.coverage.*
.dat*
.DS_Store
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.Python
.python-version
.repl_history
.ropeproject
.ruby-gemset
.ruby-version
.rvmrc
.scrapy
.spyderproject
.spyproject
.tox/
.vagrant/
.venv
.webassets-cache
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/site
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
__pycache__/
build/
build/
celerybeat-schedule
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
ENV/
Gemfile.lock
htmlcov/
instance/
lib/
lib64/
local_settings.py
macos/CellProfiler
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
wheels/
