version: 2
jobs:
  test:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo apt-get install default-jdk
      - run: sudo -H pip install --progress-bar off cython numpy
      - run: sudo -H pip install --progress-bar off .[test] 
workflows:
  version: 2
  build_and_test:
    jobs:
      - test
